<html>

<head></head>

<body>
  <h1>স্বাগতম বাংলায় জ্যাঙ্গো টিউটোরিয়াল এর প্রথম টেমপ্লেট এ </h1>
  <ul>
    {% for post in post_list %}
    <li>{{ post.title }}</li>
    {% endfor %}
  </ul>
</body>

</html>